.App {
    text-align: center;
    background-color: #222231;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.App-link {
    color: #61dafb;
}
